
  <div class="card" >
      <div class="foto">
          <span class="oferta" *ngIf="producto.oferta" class="badge badge-pill badge-danger">{{producto.precioOferta}}%</span>
          <img src="{{producto.foto}}" alt="foto {{producto.nombre}} ">
        </div>
      <div class="card-body">
          <p class="lead">
              <b [class.tachado]="producto.oferta">{{producto.precio}} €</b>
              <b *ngIf="producto.oferta"class="rojo">{{descuentoM}}€</b>
            </p>
            <p><i>({{producto.descripcionCantidad}})</i></p>
            <p class="lead descripcion">
                {{producto.nombre}}
            </p>
             <div class="btn-group" role="group" aria-label="Basic example">
               <button type="button" class="btn btn-success" (click)="restaCantidad()">-</button>
               <input type="text" class="btn btn-success" value="{{cantidad}}">
               <button type="button" class="btn btn-success" (click)="sumaCantidad()">+</button>
             </div>
            <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Añadir</a>
      </div>
    </div>