<div class="extra" *ngFor="let producto of cesta ">
    <div class="card">
      <div class="row">
        <div class="col-sm-4 foto">
            <span class="oferta" *ngIf="producto.oferta" class="badge badge-pill badge-danger">{{producto.precioOferta}}%</span>
            <img src="{{producto.foto}}" alt="foto {{producto.nombre}} ">
        </div>
        <div class="col-sm-4 card-body">
          <b [class.tachado]="producto.oferta">{{producto.precio}} €</b>
          <b *ngIf="producto.oferta"class="rojo">{{descuentoM}}€</b>
          <p class="lead descripcion">
            {{producto.nombre}}
          </p>
        </div>
        <div class="col-sm-4">
          <span><i class="fa fa-trash-o" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
</div>
